<div class="row">
  <div class="col-6 mx-auto">
    <form #customerForm="ngForm" (ngSubmit)="onUpdateCustomer(customerForm.value)">
      <div class="card">
        <div class="card-header">
          Edit Customer
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Customer Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              [(ngModel)]="customerName" required name="name" #custName="ngModel">
            <span class="text-danger help-text"
            *ngIf="!custName.valid && custName.touched"
            >  ** Please enter a valid Username **</span>
          </div>

          <div class="form-group">
            <label for="status">Customer Telephone</label>
            <input
              id="status"
              class="form-control"
              [(ngModel)]="customerPhone" name="telephone" required>

          </div>
          <span class="text-danger text-sm-left" *ngIf="isEmptyField">Please Fill all fields</span>
          <div class="text-right">
            <button type="submit" class="btn btn-warning"  >Update Customer </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
